@import url('fonts/qumpellkano12/stylesheet.css');
@import url('fonts/cambo/stylesheet.css');

html { 
    background: url("img/wd.jpg");
    color: #395791;
}

li{
    font-family: 'CamboRegular';
    font-size: 1.1em;
}

#content{
    background: url("img/noisy_grid.png");
    border-radius: 1px;
    box-shadow: 0 0px 5px 0 #000, 0 40px 2px rgba(200,200,200,0.6) inset;
    padding: 40px;
    width: 940px;
    margin: auto;
    position: relative;
    margin-bottom: 40px;
    position: relative;
}

h1{
    text-align: center;
    font-family: 'Times new roman';
    font-weight: normal;
    font-size: 5em;
    margin: 5px;
    color: #012c87;
    text-shadow: 0 2px #fff;
    -moz-animation:       title_anim 1s ease-in-out infinite;
    -ms-animation:        title_anim 1s ease-in-out infinite;
    -webkit-animation:    title_anim 1s ease-in-out infinite;
    -ms-animation:        title_anim 1s ease-in-out infinite;
    animation:            title_anim 1s ease-in-out infinite;
}

@-moz-keyframes title_anim{
    0% { text-shadow: 0 0 5px #012c87 }
50% { text-shadow: 0 0 5px orange }
100% { text-shadow: 0 0 5px #012c87 }
}
@-ms-keyframes title_anim{
    0% { text-shadow: 0 0 5px #012c87 }
50% { text-shadow: 0 0 5px orange }
100% { text-shadow: 0 0 5px #012c87 }
}
@-webkit-keyframes title_anim{
    0% { text-shadow: 0 0 5px #012c87 }
50% { text-shadow: 0 0 5px orange }
100% { text-shadow: 0 0 5px #012c87 }
}
@-o-keyframes title_anim{
    0% { text-shadow: 0 0 5px #012c87 }
50% { text-shadow: 0 0 5px orange }
100% { text-shadow: 0 0 5px #012c87 }
}
@keyframes title_anim{
    0% { text-shadow: 0 0 5px #012c87 }
50% { text-shadow: 0 0 5px orange }
100% { text-shadow: 0 0 5px #012c87 }
}

section h2{
    font-family: 'QumpellkaNo12Regular' ;
    color: darkblue;
    text-shadow: 0 1px #fff;
    border-right: 10px darkblue solid ;
    border-bottom: 1px darkblue dashed ;
    padding-left: 20px;
    background: rgba(100,180,60,0.8);
    font-weight: normal;
    position: relative;
    left: -70px;
    right: -200px;
    padding-left: 60px;
    box-shadow: 5px 5px  2px rgba(0,0,0,0.5);
}

section h2:before{
    content: ' ';
    height: 100%;
    width: 60px;
    left: 0;
    position: absolute;
    background: rgba(100,180,60,0.8);
    -moz-transform: skewY(20deg) translateY(12px);
    z-index: -1;
    border-bottom: 1px darkblue dashed ;
}

#content:before, #content:after  
{  
    position: absolute;  
    width: 50%;  
    height: 40px;  
    content: ' ';  
    bottom: 20px;  
    box-shadow: 0 30px 5px rgba(0,0,0,0.5);  
    z-index: -1;
    background: transparent;
    -moz-animation: curve_anim 1s ease-in-out infinite;
}

@-moz-keyframes curve_anim{
    0% { bottom: 20px }
50% { bottom: 25px }
100% { bottom: 20px }
}
@-ms-keyframes curve_anim{
    0% { bottom: 20px }
50% { bottom: 25px }
100% { bottom: 20px }
}
@-o-keyframes curve_anim{
    0% { bottom: 20px }
50% { bottom: 25px }
100% { bottom: 20px }
}
@-webkit-keyframes curve_anim{
    0% { bottom: 20px }
50% { bottom: 25px }
100% { bottom: 20px }
}
@keyframes curve_anim{
    0% { bottom: 20px }
50% { bottom: 25px }
100% { bottom: 20px }
}

ul{
    list-style: url('img/h1_arrow.gif');
}

#content:before{
    left: 1px;
    -webkit-transform: skew(-2deg) rotate(-2deg);  
    -moz-transform: skew(-2deg) rotate(-2deg);  
    -ms-transform: skew(-2deg) rotate(-2deg);  
    -o-transform: skew(-2deg) rotate(-2deg);  
    transform: skew(-2deg) rotate(-2deg);

}


#content:after  
{  
    right: 0px;  
    -webkit-transform: skew(2deg) rotate(2deg);  
    -moz-transform: skew(2deg) rotate(2deg);  
    -ms-transform: skew(2deg) rotate(2deg);  
    -o-transform: skew(2deg) rotate(2deg);  
    transform: skew(2deg) rotate(2deg);  
}  

img[src$="pen.png"]{
    float: right;
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    position: relative;
    left: 50px;
    -moz-transition: all 3s ease-in-out;
    -webkit-transition: all 3s ease-in-out;
    z-index: 500;
}

input:checked + img[src$="pen.png"]{
    -moz-transform: rotate(730deg);
    -webkit-transform: rotate(730deg);
    -ms-transform: rotate(730deg);
    -o-transform: rotate(730deg);
    transform: rotate(730deg);
    left: 45px;
}

#animator input{
    display: none;
}

li strong:first-child:after{
    content: ' : ';
}
